.heading-div
{
  /* height: 10rem; */
  background-color: #cccccc;
  text-align: center;
}

.main-heading
{
  font-size: 3rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  color: black;
  font-family: Candara;
}


.board
{
  /* width: 100vw;
  height: 100vh; */
  display: grid;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(3, auto);
  padding-top: 5rem;
}


.square
{
  height: 4.5rem;
  width: 4.5rem;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  /* position: relative; */
  cursor: pointer;
}


.square:first-child,
.square:nth-child(2),
.square:nth-child(3) {
  border-top: none;
}

.square:nth-child(3n + 1) {
  border-left: none;
}

.square:nth-child(3n + 3) {
  border-right: none;
}

.square:last-child,
.square:nth-child(8),
.square:nth-child(7) {
  border-bottom: none;
}



